<header>
    <h1 id="logo">My finance</h1>
    <!-- html5 tag -->
    <nav>
        <h2>Main navigation</h2>
        <ul>
            <li><a href="#">Home</a><span>/</span></li>
            <li><a href="#">Contact</a><span>/</span></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>
