<!DOCTYPE html>

<html>

  <head>
    <title>CRW Finance Page</title>
    <!-- Styles -->
    <link href="css/styles.css" type="text/css" rel="stylesheet">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
  </head>

  <body>

    <div id="wrapper">
      <% include header.ejs %>
      <% include new-entry.ejs %>
      <% include main.ejs %>
      <% include footer.ejs %>
    </div>

    <!-- custom scripts -->
    <script src="js/main.js"></script>
  </body>

</html>
