<% include template.ejs %>

<div class="container">

  <div class="col-sm-6 col-sm-offset-3">

      <h1>404 page</h1>
      <hr>
      <p>Ooops! Something went wrong. Try another link.</p>
      <p>Or go <a href="/">home</a>.</p>

  </div>

</div>
