<% include template.ejs %>

<div class="container">

    <div class="col-sm-6 col-sm-offset-3 text-center">
        <h1>Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default">Local Login</a>
        <a href="/signup" class="btn btn-default">Local Signup</a>
    </div>

</div>
