<div id="first-container" class="container-fluid" >
  <div class="row">

      <div class="panel-group col-xs-12 col-sm-4 col-md-3">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse0">User info</a>
                  </h4>
              </div>
              <div id="collapse0" class="panel-collapse collapse">
                  <div class="panel-body text-center">

                      <div style="margin-bottom: 10px;">
                          <a href="#" class="img-responsive img-thumbnail">
                              <img id="avatar" src="/img/karl.png" alt="...">
                          </a>
                      </div>
                      <ul class="nav nav-pills nav-stacked">
                        <li><a href="#"><%= email %><span class="badge"></span></a></li>
                        <li><a href="#">Messages<span class="badge">3</span></a></li>
                      </ul>

                  </div>
                  <!-- <div class="panel-footer">Panel Footer</div> -->
              </div>
          </div>
      </div>

      <div class="panel-group col-xs-12 col-sm-8 col-md-9">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">New entry</a>
                  </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">

                    <form id="new-entry-form" class="form-horizontal" data-toggle="validator">
                      <!-- <legend>Legend</legend> -->

                      <!-- CSRF and USER check -->
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <input type="hidden" name="_userID" value="<%= id %>">

                      <!-- Date input -->
                      <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputDate">Date</label>
                        <div class="col-lg-10">
                          <input class="form-control" id="inputDate" name="inputDate" placeholder="mm/dd/yyyy" type="text" required/>
                        </div>
                      </div>

                      <script>
                        $(document).ready(function(){
                          $('#inputDate').datepicker({
                            todayHighlight: true,
                            autoclose: true
                          });
                        })
                      </script>

                      <!-- SUM input -->
                      <div class="form-group">
                        <label for="inputSum" class="col-lg-2 control-label">Sum</label>
                        <div class="col-lg-10">
                          <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control" id="inputSum" name="inputSum" placeholder="money" type="number" data-error="It should be a number, bro!" required/>
                          </div>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>

                      <!-- Category input -->
                      <div class="form-group">
                        <label for="selectCategory" class="col-lg-2 control-label">Category</label>
                        <div class="col-lg-10">
                          <select class="form-control" id="selectCategory" name="selectCategory">
                            <option>Home</option>
                            <option>Market</option>
                            <option>Electronics</option>
                            <option>Gifts</option>
                            <option>Cafe</option>
                          </select>
                        </div>
                      </div>

                      <!-- Comment input -->
                      <div class="form-group">
                        <label for="inputText" class="col-lg-2 control-label">Comment</label>
                        <div class="col-lg-10">
                          <textarea class="form-control" rows="2" id="inputText" name="inputText" placeholder="Write here something..."></textarea>
                          <!-- <span class="help-block">Some text</span> -->
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                          <button type="reset" class="btn btn-default">Cancel</button>
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <!-- TEST, DONT FORGET TO REMOVE! -->
                          <button id="post-entry-button" class="btn btn-success" type="button">TEST POST</button>
                        </div>
                      </div>

                    </fieldset>
                    </form>

                  </div>
                  <!-- <div class="panel-footer">Panel Footer</div> -->
              </div>
          </div>
      </div>

  </div>

</div>
