<header>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/main">CRW Finance</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

        <ul class="nav navbar-nav navbar-left">
          <li><a href="#"><strong>Id</strong>: <%= id.toString().slice(-5) %></a></li>
          <li><a href="#"><strong>Email</strong>: <%= email %></a></li>
          <li><a href="#"><strong>Cookie</strong>: <%= sess.toString().slice(-5) %></a></li>
          <li><a href="#"><strong>CSRF Token</strong>: <%= csrfToken.toString().slice(-5) %></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/main">Main</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>

      </div>
    </div>
  </nav>
</header>
