<header>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/main"><strong>CRW</strong> Finance</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Developing Info <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#"><strong>Id</strong>: <%= id %></a></li>
                <li><a href="#"><strong>Cookie</strong>: <%= sess %></a></li>
                <li><a href="#"><strong>CSRF Token</strong>: <%= csrfToken %></a></li>
              </ul>
            </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/main">main</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= email %> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/logout">logout</a></li>
              </ul>
            </li>

        </ul>

      </div>
    </div>
  </nav>
</header>
