<!DOCTYPE html>

<html>

  <head>
    <title>CRW Finance Page</title>
    <!-- Styles -->
    <link href="css/styles.css" type="text/css" rel="stylesheet">

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </head>

  <body>
    <h1></h1>
    <p>You won't find any site better than this!</p>

  </body>

</html>
