<section id="main-content" class="new">
  <h2>Main Block</h2>
  <p>quatis alique mos et aut occae cum, veliquaspit quo quam, si idem reprorisqui doluptatur accum si sunt ut officiisto enecab id et aut es et laboribusam endi rerum as minullorent officiatum non cuscium quuntem</p>
  <div id="show-button">Показать все!</div>
  <div id="data"></div>

</section>
