<div id="second-container" class="container-fluid" >

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 table-buttons">
            <div class="input-group">
                <select class="form-control" id="category-selector">
                    <option>All entries</option>
                    <option>Home</option>
                    <option>Market</option>
                    <option>Electronics</option>
                    <option>Gifts</option>
                    <option>Cafe</option>
                </select>
                <span class="input-group-btn">
                    <a id="category-reset-button" href="#" class="btn btn-warning">X</a>
                </span>
                <span class="input-group-btn">
                    <a id="show-all-button" href="#" class="btn btn-success">SHOW</a>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 form-group table-buttons">
            <div class="input-group">
                <input id="inputId" type="text" class="form-control" placeholder="Input entry ID to show or delete it">
                <span class="input-group-btn">
                    <button id="show-id-button" class="btn btn-primary" type="button">SHOW ID</button>
                    <button id="delete-id-button" class="btn btn-danger" type="button">DELETE</button>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div id="main-table" class="list-group"></div>
        </div>
      </div>

</div>
