<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Styles -->
    <link rel="stylesheet" href="/css/bootstrap.yeti.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap-datepicker3.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/css/styles-fixes.css" type="text/css" />
    <!-- jquery -->
    <script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-notify.min.js"></script>
    <!-- form validator -->
    <script type="text/javascript" src="/js/validator.min.js"></script>
    <!-- moment js -->
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
    <!-- papa parse -->
    <script src="/js/papaparse.min.js"></script>
    <!-- main script -->
    <script src="/js/main.js"></script>
  </head>

  <body>

  </body>

</html>
