/* fixed margin between elements in table block */
.table-buttons {
    margin-top: 5px;
}

#avatar {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.entry-category-label {
    float: right;
}

.entry-sum {
    color: #555;
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;
}

.entry-currency {
    color: #555;
    font-size: 12px;
    /*font-weight:lighter;*/
    font-style: italic;
}
