/*
Basic structure has taken from here:
http://html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: monospace;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* /////////////////// END CSS RESET /////////////////// */

body {
  background: #fff;
}

#wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* /////////////////// HEADER /////////////////// */

header {
    background: #333;
}

/* brings nav block back to normal */
header:after {
    content: "";
    display: block;
    clear: both;
}

#logo {
    background: url(images/logo.png) no-repeat;
    height: 50px;
    width: 280px;
    float: left;
    text-indent: -10000px; /* hide text from the screen */
}

header nav {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

header nav a {
    color: #fff;
    text-decoration: none; /* not underlined */
}

header nav h2 {
    height: 0;
    text-indent: -10000px;
}

header nav li {
    float: left;
    margin-left: 20px;
}

header nav span {
    color: green;
    margin-left: 20px;
}

/* /////////////////// SECTIONS /////////////////// */

section {
    background: #eee;
    margin: 20px 0 40px;
}

section::after {
    content: "";
    display: block;
    clear: both;
}

#new-entry, #main {
    border-top: 1px solid #333;
    padding-top: 30px;
}

#new-entry h2, #main h2 {
    background-color: green;
    color: #fff;
    padding: 8px;
    text-align: center;
    width: 150px;
    text-transform: uppercase;
    position: relative;
    top: -45px;
    margin: 0 auto;  /* center position */
}

#new-entry p, #main p {
    text-align: center;
    width: 100%;
    /*margin: 0 10%;*/
    font-size: 12px;
    color: #777;
    line-height: 1.4em;
}

/* /////////////////// FOOTER /////////////////// */

footer {
    background: #333;
    height: 30px;
    width: 100%;
    float: left;
}

/* brings nav block back to normal */
footer:after {
    content: "";
    display: block;
    clear: both;
}

footer p {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: #fff;
}
